.built
./stew-bootstrap
./stew-template
./stew-test
stew-help.pot
./Recipe.conf
Recipe.conf
src/stew
src/stew.h
src/stew.vapi
src/stew-gettext
src/stew-get-symbols
src/stew-template
src/stew-test
src/config.vala
src/libstew.pc
src/libstew.so
src/libstew.so.0
src/libstew.a
tests/stew/test-stew
tests/stew/ar
tests/stew/stew-gettext
tests/stew/stew-get-symbols
tests/stew/stew-template
tests/stew/stew-test
tests/stew/clang
tests/stew/clang++
tests/stew/gcc
tests/stew/cp
tests/stew/install
tests/stew/rm
tests/stew/mkdir
tests/stew/touch
tests/stew/cat
tests/stew/valac
tests/stew/g++
tests/stew/gdc
tests/stew/gccgo
tests/stew/gfortran
tests/stew/ghc
tests/stew/ln
tests/stew/moc
tests/stew/python
tests/stew/python2.7
tests/stew/python3.2
tests/stew/javac
tests/stew/jar
tests/stew/glib-compile-resources
tests/stew/gmcs
tests/stew/tar
tests/stew/dpkg-architecture
tests/stew/dpkg-buildpackage
tests/stew/rpmbuild
tests/stew/lp-project-upload
tests/stew/dput
tests/stew/scp
tests/stew/ssh
tests/stew/xgettext
tests/stew/msgcat
tests/stew/msgfmt
tests/stew/g-ir-scanner
tests/stew/g-ir-compiler
tests/stew/itstool
tests/stew/mv
tests/stew/rustc
tests/stew-gettext/test-stew-gettext
tests/stew-get-symbols/test-stew-get-symbols
tests/stew-get-symbols/nm
tests/stew-template/test-stew-template
stew-0.1.50.*
