.built
./bake-bootstrap
./bake-template
./bake-test
bake-help.pot
./Recipe.conf
src/bake
src/bake.h
src/bake.vapi
src/bake-gettext
src/bake-get-symbols
src/bake-template
src/bake-test
src/config.vala
src/libbake.pc
src/libbake.so
src/libbake.so.0
src/libbake.a
tests/bake/test-bake
tests/bake/ar
tests/bake/bake-gettext
tests/bake/bake-get-symbols
tests/bake/bake-template
tests/bake/bake-test
tests/bake/clang
tests/bake/clang++
tests/bake/gcc
tests/bake/cp
tests/bake/install
tests/bake/rm
tests/bake/mkdir
tests/bake/touch
tests/bake/cat
tests/bake/valac
tests/bake/g++
tests/bake/gdc
tests/bake/gccgo
tests/bake/gfortran
tests/bake/ghc
tests/bake/ln
tests/bake/moc
tests/bake/python
tests/bake/python2.7
tests/bake/python3.2
tests/bake/javac
tests/bake/jar
tests/bake/glib-compile-resources
tests/bake/gmcs
tests/bake/tar
tests/bake/dpkg-architecture
tests/bake/dpkg-buildpackage
tests/bake/rpmbuild
tests/bake/lp-project-upload
tests/bake/dput
tests/bake/scp
tests/bake/ssh
tests/bake/xgettext
tests/bake/msgcat
tests/bake/msgfmt
tests/bake/g-ir-scanner
tests/bake/g-ir-compiler
tests/bake/itstool
tests/bake/mv
tests/bake/rustc
tests/bake-gettext/test-bake-gettext
tests/bake-get-symbols/test-bake-get-symbols
tests/bake-get-symbols/nm
tests/bake-template/test-bake-template
bake-0.1.50+git.tar.bz2
bake_0.1.50+git.orig.tar.gz
bake_0.1.50+git-0.debian.tar.gz
bake_0.1.50+git-0.dsc
bake_0.1.50+git-0_source.changes
bake_0.1.50+git-0_amd64.deb
bake-0.1.50+git.tar.gz
bake-0.1.50+git-1.x86_64.rpm
bake-0.1.50+git.tar.xz
